@import '../../sass/mixins.scss';
@import "../../theme/styles/buttons.scss";
@import "../../theme/styles/layout.scss";
@import "../../theme/styles/fonts.scss";
@import "../..//theme/styles/pallete.scss";

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    background-color: $bgcPageDefault;

    &__title {
        color: $textColorDefault;
    }

    &__button-reports {
        max-height: $buttonHeight;
        margin-right: $margin-1;
        margin-left: $margin-1;
        color: $textColorSecondary !important;
        background: linear-gradient(to top left, $bgcPageDefault, $secondaryColor);
    }

    @include breakpoint(xs) {
        min-height: 0;
    }
}