@import "../../../theme/styles/fonts.scss";
@import "../../../theme/styles/icons.scss";
@import "../../../theme/styles/layout.scss";
@import "../../../theme/styles/pallete.scss";

.confirm-password {

    &-form {
        width: 280px;
    }

    &-error {
        color: red !important;
    }

}

.empty-field_password {
    height: 54px !important;
}