$bgcPageDefault: rgba(255, 255, 255, 1);
$bgcPageSecondary: rgba(0, 0, 0, 1);

$textColorDefault: rgba(0, 0, 0, 1);
$textColorSecondary: rgba(255, 255, 255, 1);

$clickableElementsColorDefault: #C7CED4;
$clickableElementsColorHover: rgba(0, 0, 0, 1);

$intabiaColorLight: #c047b2;
$intabiaColorLightHover: #a83d9c;
$intabiaColorDark: #3f3a87;
$intabiaColorDarkHover: #34306e;