$bgcPageDefault: #031C32;
$bgcPageSecondary: #B3365B;

$textColorDefault: #EBCACA;
$textColorSecondary: rgba(255, 255, 255, 1);

$clickableElementsColorDefault: #C7CED4;
$clickableElementsColorHover: rgba(0, 0, 0, 1);