@import "../../../../theme/styles/layout.scss";
@import "../../../../theme/styles/fonts.scss";
@import "../../../../theme/styles/pallete.scss";
@import "../../../../theme/styles/buttons.scss";

.account-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        padding: 40px 80px;
    }

    &-edit-email {
        max-width: 280px;

        &__description {
            text-align: center;
            margin: 8px 0;
            font-size: 11px;
            color: $mainColor;
        }
    }
}