@import "../../../theme/styles/fonts.scss";
@import "../../../theme/styles/icons.scss";
@import "../../../theme/styles/layout.scss";
@import "../../../theme/styles/pallete.scss";

.video-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        position: relative;

        &__title {
            z-index: 1;
            position: absolute;
            top: -40px;
            left: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: MullerRegular;
            color: white;
            font-size: 20px;
            height: 40px;
        }

        &__video {
            height: 450px;
            width: 800px;
        }

        &__border {
            position: absolute;
            left: 0;
            height: 40px;
            width: 100%;

            &_top {
                top: -40px;
                background: linear-gradient(transparent, black);
            }

            &_bottom {
                bottom: -38px;
                background: linear-gradient(black, transparent);

            }
        }

    }
}