@import "../../../theme/styles/fonts.scss";
@import "../../../theme/styles/icons.scss";
@import "../../../theme/styles/layout.scss";
@import "../../../theme/styles/pallete.scss";

.video-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        display: flex;
        padding: 20px;
        background-color: #fff;
        position: relative;
        max-height: 440px;

        &__title {
            font-family: MullerRegular;
            color: $mainColor;
            font-size: 20px;
            height: 40px;
        }

        &__video {
            height: 360px;
            width: 640px;
        }

    }

    &-materials {
        margin: 40px 20px 0 20px;
        width: 240px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &__title {
            font-size: 16px;
        }

        &__item {
            padding: 9px 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            // min-height: 40px;
            border-bottom: 1px solid $secondaryColor;

            &:first-child {
                border-top: 1px solid $secondaryColor;
            }

            &-icon {
                color: $secondaryColor;
            }

            &-link {
                margin-left: 5px;
                margin-top: 5px;
                color: $secondaryColor;
            }
        }
    }
}