@import "../../../theme/styles/fonts.scss";
@import '../../../theme/fonts/fonts';
@import "../../../theme/styles/pallete.scss";
@import '../../../sass/mixins.scss';

.header {
    display: flex;
    font-family: gothamPro;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    padding: 0 80px;

    &__empty-field {
        width: 72px;
        height: 1px;
    }

    &__buttons-block {
        display: flex;
        align-items: center;
    }

    &__button {
        cursor: pointer;
        color: $secondaryColor;
        font-size: 32px !important;
        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }

        &_primary {
            color: $mainColor;
        }
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $secondaryColor;

        &__dash {
            font-weight: $text-thin;
            font-size: 72px;

        }

        &__text {
            font-size: $text-huge;
            font-weight: $text-bold;
            text-transform: uppercase;
        }

        &-icon {
            background-color: $mainColor;
            height: 48px;
            width: 60px;
            border-radius: 4px;

            &__text {
                color: $secondaryColor;
                font-size: 16px;
            }
        }

    }
}


@media (max-width: 660px) {
    .header {
        padding: 0;

        &-logo {

            &__dash {
                font-size: 48px;

            }

            &__text {
                font-size: 32px;
            }

            &-icon {
                height: 32px;
                width: 40px;

                &__text {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 424px) {
    .header {
        padding: 0;

        &-logo {

            &__dash {
                font-size: 36px;

            }

            &__text {
                font-size: 24px;
            }

            &-icon {
                height: 24px;
                width: 30px;

                &__text {
                    font-size: 10px;
                }
            }
        }
    }
}