@import '../../../sass/mixins.scss';
@import "../../../theme/styles/fonts.scss";
@import "../../../theme/styles/layout.scss";
@import "../../../theme/styles/pallete.scss";

.bg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 4px;
    background-color: white;
    padding: 40px 80px;
    min-width: 440px;
    margin-bottom: 40px;

    &__title {
        font-family: MullerRegular;
        font-size: 20px;
        color: $textColorDark;
        margin-bottom: 20px;

        &_error {
            color: $mainColor;
        }
    }

    @include breakpoint(xs) {
        min-width: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 0;
    }
}