@import "../../theme/styles/layout.scss";
@import "../../theme/styles/fonts.scss";
@import "../..//theme/styles/pallete.scss";
@import "../..//theme/styles/buttons.scss";

.personal-account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 200px);
    background-color: $bgcPageDefault;

    &-info {
        &-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 80px;
            background-color: #fff;
            box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
            border-radius: 4px;
            margin-bottom: 42px;

            &__title {
                text-transform: uppercase;
                margin-bottom: 5px;
                font-size: 20px;
                text-align: center;
            }

            &__description {
                text-align: center;


                &>span {
                    font-size: 10px;
                    color: $mainColor;
                }

                &_mentor {
                    font-size: 10px;
                    color: #d47911;
                }
            }
        }

        &-body {
            background-color: #fff;
            box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
            border-radius: 4px;
        }
    }

    &-profile {
        display: flex;
        justify-content: space-between;
        width: 840px;
        min-height: 0;
        background-color: $bgcPageDefault;
        margin-bottom: 40px;

        &__bar {
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            border-right: 1px solid $bgcPageDefault;
            box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
            border-radius: 4px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
        }

        &__avatar {
            padding-top: 10px;
            width: 100%;
        }

        &__name {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            min-height: 30px;
        }

        &__menu {
            width: 100%;

            &-item {
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 30px;
                color: $secondaryColor;
                transition: all 0.5s ease;

                &:hover {
                    background-color: $secondaryColorHover;
                }

                &_active {
                    background-color: $secondaryColorActive;

                    &:hover {
                        background-color: $secondaryColorActive;
                    }
                }

                &_mentor {
                    color: #d47911;
                }

                &_private {
                    color: $mainColor;
                }
            }

            &-icon {
                min-width: 30px;
            }

            &-title {
                margin-left: 10px;
            }
        }
    }
}

li {
    list-style: none;
}