@import "../../../../theme/styles/layout.scss";
@import "../../../../theme/styles/fonts.scss";
@import "../../../../theme/styles/pallete.scss";
@import "../../../../theme/styles/buttons.scss";

.my-profile-component {
    width: 100%;
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        padding: 40px 80px;
    }
}