@import "../../../../theme/styles/layout.scss";
@import "../../../../theme/styles/fonts.scss";
@import "../../../../theme/styles/pallete.scss";
@import "../../../../theme/styles/buttons.scss";

.course-list-component {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;

    &__line {
        margin: 20px 0;
        width: 100%;
        height: 2px;
        background-color: $mainColor;
    }


    &-testing {
        margin: 0 20px 40px;
        background-color: white;
        height: 400px;
        border: 2px solid $mainColor;
        box-sizing: content-box;

        &__header {
            display: flex;
            padding: 0 10px;
            justify-content: flex-start;
            align-items: center;
            height: 40px;
            background-color: white;
            border-bottom: 2px solid $mainColor;

            &-add {
                cursor: pointer;
                color: $mainColor;
                margin-right: 10px;
                font-size: 28px;
            }

            &-description {
                display: flex;
                align-items: center;
            }
        }

        &-item {}

        &__block {
            cursor: pointer;
            display: flex;
        }

        &-list {
            height: 360px;
            overflow: auto;
        }

        &__input {
            margin-top: 10px;
        }

        &__question {
            color: $mainColor;
            padding: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        &__answer-wrapper {
            display: flex;
        }

        &__answer {
            padding: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        &__answer-options {
            border: 1px solid $bgcPageDefault;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        &__answer-items {
            padding: 5px 10px;
        }

        &__answer-add {
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $bgcPageDefault;
        }
    }

    &__testing-input {
        width: 100%;
    }

    &__add-testing {
        width: 500px;
    }

    &__course-name {
        text-align: center;
        margin: 10px 0;
        font-size: 20px;
        display: flex;
        justify-content: center;
        color: $secondaryColor;
    }

    &__course-info {
        height: 100%;
    }

    &__content {
        height: 100%;
        flex-basis: 85%;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        padding: 10px;
    }

    &__item {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 80px;
        max-height: 80px;
        color: $secondaryColor;
        border: 1px solid $bgcPageDefault;
        border-bottom: 0;

        &:last-child {
            border-bottom: 1px solid $bgcPageDefault;
        }

        &:hover {
            cursor: pointer;
            background-color: $secondaryColorHover;
        }
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__button {
        border-top: 1px solid $bgcPageDefault;
        padding: 10px 0;
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        position: sticky;
        bottom: 0;

        &_centered {
            justify-content: center;
        }
    }

    &-lectures {
        margin: 0 20px 40px;
        background-color: white;
        height: 200px;
        border: 1px solid $bgcPageDefault;

        &__header {
            display: flex;
            padding: 0 10px;
            justify-content: flex-start;
            align-items: center;
            height: 40px;
            background-color: white;
            border-bottom: 1px solid $bgcPageDefault;

            &-add {
                cursor: pointer;
                color: $secondaryColor;
                margin-right: 10px;
                font-size: 28px;
            }

            &-description {
                display: flex;
                align-items: center;
            }
        }

        &__block {
            cursor: pointer;
            display: flex;
        }


        &-list {
            height: 160px;
            overflow: auto;

            &__input {
                max-width: 180px;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-progress {
                display: flex;
                align-items: center;

                &__item {
                    display: flex;
                    align-items: center;
                    min-height: 50px;
                    padding: 0 10px;
                    transition: all 0.5s ease;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $secondaryColorHover;
                    }
                }

                &__title {
                    color: $secondaryColor;
                }
            }

            &__title {
                display: flex;
                align-items: center;

                &-description {
                    min-width: 85px;
                    color: $secondaryTextColorDefault;
                    margin-right: 10px;
                }

                &-data {
                    padding: 10px 10px 10px 0;
                    color: $secondaryColor;
                }
            }

            &__item {
                padding-left: 10px;
                min-height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $bgcPageDefault;
            }

        }
    }
}