@import "../../../../theme/styles/layout.scss";
@import "../../../../theme/styles/fonts.scss";
@import "../../../../theme/styles/pallete.scss";
@import "../../../../theme/styles/buttons.scss";

.user-list-component {
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;

    &__item {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80px;
        max-height: 80px;
        color: $secondaryColor;
        border: 1px solid $bgcPageDefault;
        border-bottom: 0;

        &:last-child {
            border-bottom: 1px solid $bgcPageDefault;
        }

        &:hover {
            cursor: pointer;
            background-color: $secondaryColorHover;
        }
    }
}