@font-face {
    font-family: gothamPro;
    src: url(./gothamPro.ttf);
}

@font-face {
    font-family: MullerBlack;
    src: url(./MullerBlack.ttf);
}

@font-face {
    font-family: MullerBlackItalic;
    src: url(./MullerBlackItalic.ttf);
}

@font-face {
    font-family: MullerBold;
    src: url(./MullerBold.ttf);
}

@font-face {
    font-family: MullerBoldItalic;
    src: url(./MullerBoldItalic.ttf);
}

@font-face {
    font-family: MullerExtraBold;
    src: url(./MullerExtraBold.ttf);
}

@font-face {
    font-family: MullerExtraBoldItalic;
    src: url(./MullerExtraBoldItalic.ttf);
}

@font-face {
    font-family: MullerHairline;
    src: url(./MullerHairline.ttf);
}

@font-face {
    font-family: MullerHairlineItalic;
    src: url(./MullerHairlineItalic.ttf);
}

@font-face {
    font-family: MullerHeavy;
    src: url(./MullerHeavy.ttf);
}

@font-face {
    font-family: MullerHeavyItalic;
    src: url(./MullerHeavyItalic.ttf);
}

@font-face {
    font-family: MullerLight;
    src: url(./MullerLight.ttf);
}

@font-face {
    font-family: MullerLightItalic;
    src: url(./MullerLightItalic.ttf);
}

@font-face {
    font-family: MullerMedium;
    src: url(./MullerMedium.ttf);
}

@font-face {
    font-family: MullerMediumItalic;
    src: url(./MullerMediumItalic.ttf);
}

@font-face {
    font-family: MullerRegular;
    src: url(./MullerRegular.ttf);
}

@font-face {
    font-family: MullerRegularItalic;
    src: url(./MullerRegularItalic.ttf);
}

@font-face {
    font-family: MullerThin;
    src: url(./MullerThin.ttf);
}

@font-face {
    font-family: MullerThinItalic;
    src: url(./MullerThinItalic.ttf);
}

@font-face {
    font-family: MullerUltraLight;
    src: url(./MullerUltraLight.ttf);
}

@font-face {
    font-family: MullerUltraLightItalic;
    src: url(./MullerUltraLightItalic.ttf);
}