@import '../../../sass/mixins.scss';
@import "../../../theme/styles/fonts.scss";
@import "../../../theme/styles/layout.scss";
@import "../../../theme/styles/pallete.scss";

.footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: $bgcPageDefault;
    font-family: MullerRegular;

    &-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: $containerWidth;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            background-color: $textColorSecondary;
            height: 1px;
            width: 100%;
        }

        @include breakpoint(xs) {
            &::before {
                display: none;
            }
        }
    }

    &-text {
        font-size: $text-default;
        color: $textColorSecondary;
    }

    @include breakpoint(xs) {
        background-color: white;
    }
}