@import "../../theme/styles/layout.scss";
@import "../../theme/styles/fonts.scss";
@import "../..//theme/styles/pallete.scss";
@import "../..//theme/styles/buttons.scss";

.courses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 200px);
    background-color: $bgcPageDefault;

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-header {
        width: 750px;
        font-family: MullerRegular;
        display: flex;
        align-items: flex-end;
        height: 40px;
        margin-bottom: 20px;
        color: $textColorDark;

        &__left {
            flex-basis: 65%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__title {
            font-size: 24px;
        }


        &__right {
            flex-basis: 35%;
            display: flex;
        }

        &__number {
            flex-basis: 50%;
            text-align: right;
        }


        &__time {
            flex-basis: 50%;
            text-align: right;
        }
    }

    &__loader {
        min-height: calc(100vh - 300px);
    }
}